<?xml version="1.0" encoding="utf-8"?>

<Translations>
  <en>
    <GitTrackingBranch>Tracking</GitTrackingBranch>
    <GitRemoteUrl>Remote URL</GitRemoteUrl>
    <GitBranches>Branches</GitBranches>
    <GitLastCommit>Last Commit</GitLastCommit>
    <GitRecentActivity>Recent Activity</GitRecentActivity>
    <GitNoRemote>(no remote)</GitNoRemote>
    <GitNoTracking>(no tracking)</GitNoTracking>
  </en>
  <zh-CN>
    <GitTrackingBranch>跟踪远端分支</GitTrackingBranch>
    <GitRemoteUrl>远端地址</GitRemoteUrl>
    <GitBranches>分支数</GitBranches>
    <GitLastCommit>最近提交</GitLastCommit>
    <GitRecentActivity>最近活动</GitRecentActivity>
    <GitNoRemote>（无远端仓库）</GitNoRemote>
    <GitNoTracking>（未跟踪远端）</GitNoTracking>
  </zh-CN>
</Translations>
